* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  font-family: Arial, sans-serif;
  line-height: 24px;
  color: #333333;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  padding: 50px;
  background-color: #445162;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.header-text-wrap {
  margin-right: 20px;
}

.title {
  font-size: 60px;
  line-height: 50px;
  margin-bottom: 35px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.header-list {
  list-style-type: none;
  margin-bottom: -5px;
}

.header-list__item {
  font-size: 20px;
  line-height: 36px;
  padding-left: 35px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  background: url('img/check_icon.png') left 7px no-repeat;
}

.header__img {
  width: 100%;
  max-width: 469px;
  height: 214px;
}

.about-product {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.about-product-text-wrap {
  max-width: 655px;
  margin-right: 20px;
}

.about-product__title {
  font-size: 30px;
  margin-bottom: 28px;
  color: #445161;
}

.about-product__description:nth-child(2n+1) {
  margin-top: 11px;
}

.about-product__video {
  width: 430px;
  height: 245px;
  display: block;
}

.pluses-product {
  padding: 50px;
  background-color: #f5f5f5;
}

.pluses-product__title {
  font-size: 30px;
  margin-bottom: 28px;
  text-align: center;
  color: #445161;
}

.pluses-product-list {
  margin-bottom: -30px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pluses-product-list__item {
  flex-basis: 50%;
  margin-bottom: 27px;
  display: flex;
}

.pluses-product-list__item:nth-child(2n+1) {
  padding-right: 20px;
}

.pluses-product-list__item:before {
  content: '';
  min-width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-top: 5px;
  background: url('img/plus_icon.png') center no-repeat #445161;
  display: block;
}

.scrinshots {
  padding: 50px;
}

.scrinshots__title {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #445161;
}

.scrinshots-content-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.scrinshots-item-wrap {
  max-width: 50%;
  margin-top: 22px;
  padding-right: 15px;
  display: flex;
}

.scrinshots-image-wrap {
  max-width: 240px;
  margin-right: 15px;
}

.scrinshots__img {
  width: 100%;
  max-width: 200px;
  height: 150px;
  display: block;
}

.scrinshots-text-wrap {
  max-width: 360px;
}

.scrinshots__h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #445161;
}

.reviews {
  padding: 50px;
  background-color: #f5f5f5;
}

.reviews__title {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #445161;
}

.reviews-content-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews-item-wrap {
  max-width: 49%;
  margin-top: 25px;
  display: flex;
}

.reviews__img {
  width: 75px;
  height: 75px;
  margin-right: 30px;
}

.reviews-text-wrap {
  max-width: 468px;
  font-size: 14px;
  line-height: 18px;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #ebebeb;
  position: relative;
}

.reviews-text-wrap:before {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 30px;
  left: -9px;
  background-color: #ebebeb;
  transform: rotate(45deg);
}

.reviews__review {
  margin-bottom: 7px;
  font-style: italic;
}

.reviews__autor {
  color: #989898;
}

.buy {
  padding: 50px;
}

.buy__title {
  font-size: 30px;
  margin-bottom: 32px;
  text-align: center;
  color: #445161;
}

.buy-package-wrap {
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

.buy-package {
  width: 100%;
  max-width: 300px;
  padding: 15px 0 20px;
  border-radius: 3px;
  background-color: #445162;
}

.buy-package:nth-child(2n) {
  margin: 0 20px;
}

.buy-package__title {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.buy-package__price {
  font-size: 40px;
  padding: 18px 0;
  border-right: 2px solid #445162;
  border-left: 2px solid #445162;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  color: #445162;
  display: block;
}

.buy-package-list {
  padding: 16px 20px;
  font-size: 14px;
  list-style-type: none;
}

.buy-package__btn {
  max-width: 100%;
  font-size: 18px;
  margin: 0 20px;
  padding: 11px 0;
  line-height: 18px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  color: #445161;
  display: block;
}